html {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    
}
/* Circle image */
.circle-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.fixed-footer {
  position: fixed;        
  bottom: 0;              
  left: 0;
  width: 100%;            
  background-color: #9dc50b; 
  color: #121111;            
  display: flex;
  justify-content: space-evenly; 
  padding: 8px 0;
  z-index: 1000;  
  font-size: 14px;        
}

.fixed-footer a {
  color: #171616;          
  text-decoration: none; 
  font-weight: 500;
}

.fixed-footer a:hover {
  text-decoration: underline; 
}

.hero {
  display: flex;            /* use flex layout */
  flex-direction: column;   /* stack items vertically */
  align-items: center;      /* center horizontally */
  text-align: center;       /* center text */
  padding: 50px 20px;       /* space around header */
  background-color: lightblue; /* optional light background */
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
    margin: 0; 
    padding-bottom: 60px; 
    color: black;
    background-color: lightblue; 
}

.hero h1 {
    margin: 0; 
    font-size: 3em; 
    font-weight: 700; 
    font-family: 'Montserrat', sans-serif; 
    text-shadow: 1px 1px 2px rgba (0,0,0,0.2); 
}

.hero h2 {
    margin: 10px 0 0 0; 
    font-size: 1.8em; 
    font-weight: 400; 
    font-family: 'Dancing Script', cursive;    ;
    color: purple
}